<div class="content">
  <div class="container">
    <div class="text-column">
      <h1>Contact</h1>
      <p>
        Jeremiah Kellick<br>
        jeremiahkellick@gmail.com<br>
        +1 (814) 573-7139
      </p>
      <h2>Quote form</h2>
    </div>
  </div>
</div>
